@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Playfair+Display&display=swap');
body{
    margin: 0;
    transition: background-color .5s;
}
a:link {
    color: white;
    background-color: transparent;
    text-decoration: none;
  }
  
  a:visited {
    color: white;
    background-color: transparent;
    text-decoration: none;
  }
  
  a:hover {
    color: black;
    background-color: transparent;
    text-decoration: none;
  }
  
  a:active {
    color: white;
    background-color: transparent;
    text-decoration: underline;
  }
nav{
    margin: 2rem;
    display: flex;
    z-index: 3;
}
.nav-top{
    background-color: white;
    display: flex;
    position: fixed;
    width: 100%;
    height: 7rem;
    justify-content: center;
    align-items: center;
    margin: 0;
}
.nav-top .col-sm-11{
    display: flex;
    justify-content: center;
}
.nav-top .col-sm-1{
    display: flex;
    justify-content: center;
}
.company-logo{
    font-size: 30px;
    display: flex;
    color: white;
    font-weight: 750;
    background-color: black;
    padding-left: 1.2rem;
    padding-right: 1.2rem;
    padding-top:0.5rem;
}
.nav-menu{
    display: flex;
    font-size: 20px;
    padding-left: 5rem;
    text-align: right;
}
.nav-menu button{
    border: none;
    background: none;
    height: 5rem;
}







.background-banner{
    width: 100%;
    height: 70rem;
    position: relative;
    overflow: hidden;
}
.background-banner img{
    width: 100%;
}
.welcome-msg p{
    background: none;
    color: white;
    font-size: 40px;
    position: absolute;
    bottom: 25rem;
    margin-left: 30%;
    padding-left: 3.5rem;
    padding-right: 3.5rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    transition: 0.4s;
}
.welcome-msg button{
    background: none;
    color: white;
    border: solid white 3px;
    position: absolute;
    bottom: 18rem;
    margin-left: 40%;
    padding-left: 3.5rem;
    padding-right: 3.5rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    transition: 0.4s;
}
.welcome-msg button:hover{
    background: white;
    color: black;
    border: solid 3px white;
}






main{
    background-color: rgb(239, 232, 232);
}
.food-gallery{
    margin: 0% 15% 10% 15%;
    padding-top: 10%;
}
.gallery{
    border-radius: 10px;
    box-shadow: 5px #888888;
}
.gallery .col-sm-4{
    height: 28rem;
    overflow: hidden;
    padding: 0;
}
.gallery-heading{
    font-size: 50px;
    display: flex;
    justify-content: center;
    font-family: 'Playfair Display', serif;
}
.gallery-sub-heading{
    font-size: 15px;
    display: flex;
    justify-content: center;
    font-family: 'Playfair Display', serif;
    padding-bottom: 10rem;
    color: gray;
}
.gallery-img{
    width: 150%;
    object-fit: cover;
}
.media-card-category{
    display: flex;
    justify-content: center;
    padding-top: 2rem;
    font-family: 'Playfair Display', serif;
    font-size: 14px;
    color: red;
    background-color: white;
}
.media-card-heading{
    display: flex;
    justify-content: center;
    padding: 1rem;
    font-family: 'Playfair Display', serif;
    font-size: 20px;
    text-align: center;
    background-color: white;
}
.media-card-desc{
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    padding-top: 3.5rem;
    text-align: center;
    background-color: white;
    color: gray;
}
.learn-more-btn{
    padding: 3rem;
    background-color: white;
}
.learn-more-btn button{
    background: none;
    border: none;
    font-size: 10px;
}
.learn-more-btn button:hover{
    background-color: red;
    border-radius: 50px;
    color: white;
    padding: 0.5rem;
    transition: 0.25s;
}






section.the-restaurant{
    background-color: white;
}
.the-restaurant{
    padding-left: 18%;
    padding-right: 18% ;
    padding-top: 5rem;
    padding-bottom: 5rem;
}
.the-restaurant-header{
    display: flex;
    font-family: 'Playfair Display', serif;
    font-size: 40px;
    padding-bottom: 2rem;
}
.the-restaurant-desc p{
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
    font-size: 15px;
    font-family: 'Open Sans', sans-serif;
    color: gray;
}





.chefs .col-sm-6{
    background-color: white;
    padding-bottom: 5%;
}
.chef-heading{
    text-align: center;
    font-size: 50px;
    font-family: 'Playfair Display', serif;
    background-color: white;
    margin-top: 10%;
    padding-top: 6%;
    padding-bottom: 2%;
}
.chef-card{
    padding-left: 20%;
    padding-right: 20%;
}
.chef-img{
    display: flex;
    justify-content: center;
    padding: 4rem;
}
.chef-img img{
    border-radius: 100px;
    height: 150px;
}
.chef-name{
    font-size: 30px;
    color: #000;
    margin: 0;
    font-weight: 300;
    margin-bottom: 10px;
    text-align: center;
    font-family: 'Playfair Display', serif;
}
.chef-title{
    font-family: 'Open Sans',Arial, sans-serif;
    color:  #b3b3b3;
    text-align: center;
    font-size: 18px;
    padding-bottom: 15px;
}
.chef-desc{
    padding-bottom: 10px;
}
.chef-desc p{
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    text-align: center;
    color: gray;
}
.social-links{
    text-align: center;
}
.social-links button{
    background: none;
    border: none;
}
.social-links i{
    padding-left: 10px;
    color: red;
    font-size: 16px;
}







.menu{
    margin-left: 25%;
    margin-right: 25%;
}
.menu-heading{
    font-size: 50px;
    font-family: 'Playfair Display', serif;
    text-align: center;
    
}
.menu-sub-heading{
    text-align: center;
    color: gray;
    font-family: 'Open Sans',Arial, sans-serif;
    font-weight: 300;
}
.menu-slider{
    display: flex;
    justify-content: center;
    padding-top: 8%;
}
.menu-slider-btn{
    background: none;
    color: gray;
    font-size: 16px;
    border: none;
    margin: 2%;
    border-bottom: solid 2px #c8c0c0;
    font-weight: 600;
    font-family: 'Open Sans',Arial, sans-serif;
}
.menu-slider-btn-active{
    background: none;
    color: red;
    font-size: 16px;
    border: none;
    margin: 2%;
    border-bottom: solid 2px red;
    font-weight: 600;
    font-family: 'Open Sans',Arial, sans-serif;
}





.active-menu{
    opacity: 1 !important;
}
.breakfast-menu{
    padding-top: 10%;
    padding-bottom: 20%;
}
.dish-card{
    padding-bottom: 3%;
    border-bottom: dotted 1px gray;
}
.dish-card img{
    width: 12rem;
    padding-top: 18%;
}
.dish-name{
    font-family: 'Playfair Display', serif;
    font-size: 22px;
    padding-bottom: 2rem;
    padding-top: 2rem;
}
.dish-name:hover{
    font-family: 'Playfair Display', serif;
    font-size: 22px;
    padding-bottom: 2rem;
    color: gray;
    cursor: pointer;
}
.dish-desc{
    font-family: 'Open Sans',Arial, sans-serif;
    font-size: 18px;
    color: gray;
}
.dish-price{
    color: red;
    padding-top: 2rem;
}






.other-services{
    background-color: white;
    padding-top: 10%;
    padding-bottom: 10%;
}
.services{
    margin-left: 20%;
    margin-right: 20%;
}
.services-card{
    padding: 5rem;
}
.title{
    font-family: 'Playfair Display', serif;
    font-size: 18px;
    padding-bottom: 2rem;
    padding-top: 2rem;
    font-weight: 580;
}
.services-img{
    width: 8rem;
}
.services-desc{
    font-family: 'Open Sans',Arial, sans-serif;
    font-size: 15px;
    color: gray;
    font-weight: 300;
}
.pb-8{
    padding-bottom: 8% ;
}








.reservation{
    display: flex;
    justify-content: center;
    padding-bottom: 15%;
}
.reservation-plate{
    background-color: white;
    width: 80rem;
    padding-top: 5%;
    padding-bottom: 5%;
    padding-left: 7%;
    padding-right: 7%;
    margin-top: 15%;
    box-shadow: 0 0 10px rgba(72, 62, 62, 0.4);
    border-radius: 10px;
}






.reviews{
    background-color: white;
    padding-top: 10%;
    padding-left: 20%;
    padding-right: 20%;
    padding-bottom: 7%;
    position: relative;
}


.slider {
    display: block;
    position: relative;
    width: 100%;
    margin: 0.6rem;
    background-color: white;
    overflow: hidden;
}

.slider__slides {
  width: 100%;
  padding-top: 35%;
  padding-bottom: 15%;
}

.slider__slide {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;   
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: white;
    transition: 1s;
    opacity: 0;
}

.slider__slide.active {
    opacity: 1;
}


.slider__nav-button {
    height: 2.4rem;
    width: 2.4rem;
    font-size: 28px;
    color: gray;
    opacity: 0.8;
    background: none;
    border: none;
    cursor: pointer;
}



.slider__nav {
    position: absolute;
    bottom: 3%;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;s
}

.slider__navlink {
    display: inline-block;
    height: 0.72rem;
    width: 0.72rem;
    border-radius: 50%;
    border: 1px #fff solid;
    background-color: #333;
    opacity: 1;
    margin: 0 0.6rem 0 0.6rem;
    cursor: pointer;
}

.slider__navlink.active {
    background-color: #fff;
    border: 1px #333 solid;
}


.customer-msg{
    text-align: center;
    font-family: 'Open Sans',Arial, sans-serif;
    font-weight: 300;
    font-size: 18px;
    color: gray;
    padding: 5%;
}
.customer-img{
    display: flex;
    justify-content: center;
}
.customer-img img{
    width: 8rem;
    border-radius: 100px;
}
.customer-name{
    display: flex;
    justify-content: center;
    font-family: 'Playfair Display', serif;
    font-size: 15px;
    padding: 2%;
}






.contact-us{
    display: flex;
    justify-content: center;
    padding-bottom: 15%; 
}
.contact-us-plate{
    background-color: white;
    width: 80rem;
    padding-top: 5%;
    padding-bottom: 5%;
    padding-left: 7%;
    padding-right: 7%;
    margin-top: 15%;
    box-shadow: 0 0 10px rgba(72, 62, 62, 0.4);
    border-radius: 10px;
}
.contact-us-msg{
    height: 150px !important;
}







footer{
    background-color: #121212;
    padding-top: 9%;
    padding-left: 15%;
    padding-right: 15%;
}
.col-sm-4 h4{
    font-family: 'Playfair Display', serif;
    font-size: 18px;
    color: white;
    padding-bottom: 1rem;
}
.about-us{
    font-family: 'Open Sans',Arial, sans-serif;
    font-weight: 300;
    font-size: 13px;
    color: gray;
}
footer p{
    font-family: 'Open Sans',Arial, sans-serif;
    font-weight: 300;
    font-size: 13px;
    color: gray;
    padding-bottom: 1.5rem;
}
.footer-socials{
    padding-bottom: 1.5rem;
    color: white;
    font-size: 15px;
    letter-spacing: 1rem;
}
.read-more{
    margin-top: 1.5rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 1rem;
    padding-right: 1rem;
    font-family: 'Open Sans',Arial, sans-serif;
    color: #ff7a5c;
    background: none;
    border: solid 2px #ff7a5c;
    border-radius: 4px;
    letter-spacing: .2em;
    font-size: 12px;
    font-weight: 700;
    transition: 0.3s;
}
.read-more:hover{
    color: black;
    background-color: #ff7a5c;
}
footer input{
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
}
.footer-socials button{
    background: none;
    border: none;
    transition: 0.4;
}
.footer-socials button:hover{
    background: none;
    border: none;
    color: red;
}
.newsletter-btn{
    margin: 0;
    border: none;
    background-color: white;
    height: 20px;
}




.copyright{
    text-align: center;
    color: gray;
    font-weight: 300;
    font-size: 13px;
    padding-top: 12%;
    padding-bottom: 15%;
}






/* sidenavigation from w3schools */
.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 100;
    top: 0;
    right: 0;
    background-color: #111;
    opacity: 0.9;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;

  }
  
  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 20px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }
  
  .sidenav a:hover {
    color: #f1f1f1;
  }
  
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  
  #main {
    transition: margin-left .5s;
    padding: 16px;
  }
  
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }